fastapi
uvicorn[standard]
python-multipart
email-validator
pdf2image
google-auth
google-auth-oauthlib
google-auth-httplib2
pyOpenSSL
python-dotenv
Pillow
google-cloud-storage
google-cloud-firestore
passlib
bcrypt
aiofiles>=23.2.1

pytest>=8.0.0
requests>=2.31.0
